
    <!-- BEGIN SIDEBAR -->

    <a href="#" class="scrollup">Scroll</a>

    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content" style="background-color: #1C1C1C;">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="content" style="padding-top: 70px;background-color: #1C1C1C;">

            <div class="row" id="id_wp_gim" >
                <div class="col-md-12">
                    <div class="grid simple" style="margin-bottom: 0px;">
                        <div class="grid-title no-border" style="background-color: #1C1C1C;">
                            <h1 class="text-white">Actors <span class="semi-bold">Involved</span><span class="" id="id_loader_ao" style="margin-left: 10px;"><i class="fa fa-spinner fa fa-spin"></i></span></h1>
                            <div class="tools">  </div>

                        </div>
                        <div id="id_cont_ao" class="grid-body no-border hide" style="background-color: #1C1C1C;">
                            <div class="row"  style=" color: #fff;">
                                <div class="col-md-4">
                                    <h3 class="text-white">Actor <span class="semi-bold">1</span></h3>
                                    <p>Details about the first person involved in the event.</p>
                                    <br>
                                    <table class="table no-more-tables m-t-20 m-l-20 m-b-30" style="margin-left: 0px;margin-top: 0px;">
                                        <thead class="text-white">
                                        <tr>
                                            <th class="bold">Attributes</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="id_act1_body">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="text-white">Event<span class="semi-bold"></span></h3>
                                    <p>Details about the event that happened between both the actors.</p>
                                    <br>
                                    <table class="table no-more-tables m-t-20 m-l-20 m-b-30" style="margin-left: 0px;margin-top: 0px;">
                                        <thead class="text-white">
                                        <tr>
                                            <th class="bold">Attributes</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="id_action_body">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="text-white">Actor <span class="semi-bold">2</span></h3>
                                    <p>Details about the second person involved in the event.</p>
                                    <br>
                                    <table class="table no-more-tables m-t-20 m-l-20 m-b-30" style="margin-left: 0px;margin-top: 0px;">
                                        <thead class="text-white">
                                        <tr>
                                            <th class="bold">Attributes</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="id_act2_body">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" style="padding-top: 0px;padding-bottom: 15px;background-color: #1C1C1C;">
                <div class="col-md-4">
                    <div class="grid simple" style="margin-bottom: 0px;">
                        <div class="grid-title no-border" style="background-color: #1C1C1C;">
                            <h1 class="text-white">Event <span class="semi-bold">Overview</span></br>
                                <span class="" id="id_loader_eo" style="margin-left: 3px;"><i class="fa fa-spinner fa fa-spin"></i></span>
                            </h1>
                            <div class="tools">  </div>

                        </div>
                        <div id="id_cont_eo" class="grid-body no-border hide" style="background-color: #1C1C1C;">
                            <div class="row"  style=" color: #fff;">
                                <table class="table no-more-tables m-t-20 m-l-20 m-b-30" style="margin-left: 0px;margin-top: 0px;">
                                    <thead class="text-white">
                                    <tr>
                                        <th class="bold">Attributes</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="id_eo_body">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="grid simple" style="margin-bottom: 0px;">
                        <div class="grid-title no-border" style="background-color: #1C1C1C;">
                            <h1 class="text-white">Mentions <span class="semi-bold">Stats</span></br>
                                <span class="" id="id_loader_mo" style="margin-left: 3px;"><i class="fa fa-spinner fa fa-spin"></i></span>
                            </h1>
                            <div class="tools">  </div>

                        </div>
                        <div id="id_cont_mo" class="grid-body no-border hide" style="background-color: #1C1C1C;">
                            <div class="row"  style=" color: #fff;">
                                <div class="tiles blue m-b-10" style="margin-top: 15px;background-color: #9900FF;">
                                    <div class="tiles-body">
                                        <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                                        <div class="tiles-title text-black" style="color: white !important;">OVERALL MENTIONS </div>
                                        <div class="widget-stats">
                                            <div class="wrapper transparent">
                                                <span class="item-title">Total Mentions</span> <span class="item-count animate-number semi-bold"  data-animation-duration="700" id="id_om_total">0</span>
                                            </div>
                                        </div>
                                        <div class="widget-stats">
                                            <div class="wrapper transparent">
                                                <span class="item-title">Today</span> <span class="item-count animate-number semi-bold"  data-animation-duration="700" id="id_om_today">0</span>
                                            </div>
                                        </div>
                                        <div class="widget-stats ">
                                            <div class="wrapper last">
                                                <span class="item-title">This Month</span> <span class="item-count animate-number semi-bold"  data-animation-duration="700" id="id_om_month">0</span>
                                            </div>
                                        </div>
                                        <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="100%" ></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="grid simple" style="margin-bottom: 0px;">
                        <div class="grid-title no-border" style="background-color: #1C1C1C;">
                            <h1 class="text-white">Impact</span> and <span class="semi-bold">Tone</span></br>
                                <span class="" id="id_loader_impact" style="margin-left: 3px;"><i class="fa fa-spinner fa fa-spin"></i></span>
                            </h1>
                            <div class="tools">  </div>

                        </div>
                        <div id="id_cont_impact" class="grid-body no-border hide" style="background-color: #1C1C1C;">
                            <div class="row"  style=" color: #fff;">
                                <div class="row tiles-container">
                                    <div class="col-md-6 col-sm-6 tiles" style="height:200px" id="idgstile">
                                        <div class="overlayer top-right">
                                            <div class="p-r-15 p-t-15"><h4 class="bold text-white">Goldstein's Scale</h4></div>
                                        </div>
                                        <div class="overlayer bottom-left">
                                            <div class="p-l-15 p-b-15" style="padding-right: 5px;">
                                                <h2 class="text-white" id="idgsvalue">0</h2>
                                                <span class="text-white">Value ranges from -10 to 10 and</span>
                                                <span class="text-white mini-description ">Color ranges from Red to Green</span> </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 tiles" style="height:200px" id="idattile">
                                        <div class="overlayer top-right">
                                            <div class="p-r-15 p-t-15"> <h4 class="bold text-white">Average Tone</h4></div>
                                        </div>
                                        <div class="overlayer bottom-left">
                                            <div class="p-l-15 p-b-15" style="padding-right: 5px;">
                                                <h2 class="text-white" id="idatvalue">0</h2>
                                                <span class="text-white">Value ranges from -100 to 100 and</span>
                                                <span class="text-white mini-description ">Color ranges from Red to Green</span> </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" id="id_wp_hie">
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="grid simple ">
                                <div class="grid-title no-border" style="background-color: #1C1C1C">

                                </div>
                                <div class="grid-body no-border" style="padding: 0px; background-color: #1C1C1C">
                                    <h3 class="text-white">Search <span class="semi-bold">All Events</span> </h3>
                                    <p style="margin-right: 20px;" class="muted">Browse through all the events in the GDELT database. Filter your query using the filter menu on the right. Access the filter menu using the filter button on the top right corner.</p>
                                    <br>
                                    <div class="clearfix"></div>
                                    <div class="row" id="id_cont_gim" style=" background-color: #000; color: #fff;">
                                        <div class="grid-body" style="border: 0px; background-color: #1C1C1C; color: #fff;">
                                            <table id="example" class="table no-more-tables" style="width: 100%" >
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Type</th>
                                                    <th>Source</th>
                                                    <th>URI</th>
                                                    <th>Confidence</th>
                                                    <th>Tone</th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Type</th>
                                                    <th>Source</th>
                                                    <th>URI</th>
                                                    <th>Confidence</th>
                                                    <th>Tone</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>

    <!-- BEGIN CHAT -->
    <div class="chat-window-wrapper">
        <div id="main-chat-wrapper" class="inner-content">
            <div class="chat-window-wrapper scroller scrollbar-dynamic" id="chat-users" >

                <div class="side-widget">
                    <div class="side-widget-title" style="font-size: 12px;color: white;">Start Date</div>
                    <div class="side-widget-content">
                        <div >

                            <div id="idStartDate" class="input-append success date col-md-10 col-lg-6 no-padding" style="width: 70%;margin-left: 12px;margin-top: 10px;margin-bottom: 10px;">
                                <input type="text" class="form-control" style="background-color: white;">
                                <span class="add-on" style="background: #9900FF;"><span class="arrow"></span><i class="fa fa-th"></i></span> </div>

                            <br>


                        </div>
                    </div>
                </div>
                <div class="side-widget">
                    <div class="side-widget-title" style="float: left;font-size: 12px;color: white;">End Date</div>
                    <div class="side-widget-content">
                        <div >

                            <div id="idEndDate" class="input-append success date col-md-10 col-lg-6 no-padding" style="width: 70%;margin-left: 12px;margin-top: 10px;margin-bottom: 10px;">
                                <input type="text" class="form-control" style="background-color: white;">
                                <span class="add-on" style="background: #9900FF;"><span class="arrow"></span><i class="fa fa-th"></i></span> </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="side-widget">
                    <div class="side-widget-title" style="float: left;font-size: 12px;color: white;">Average Tone Range</div>
                    <div class="side-widget-content">
                        <div >

                            <div class="slider primary" style="margin-left: 12px;">
                                <input type="text" id="idatslider" class="element" data-slider-min="-100"  data-slider-max="100" data-slider-step="1" data-slider-value="[-30,30]" data-slider-orientation="horizontal" data-slider-selection="after">
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="side-widget">
                    <button id="idFilterButton" class="btn btn-block btn-primary" type="button" style="background-color: #0aa699;width: 80%;margin-left: 15px;"><i class="fa fa-filter"></i>&nbsp;&nbsp;Filter Results&nbsp;&nbsp;<span class="hide" id="idFilterLoader"><i class="fa fa-spinner fa fa-spin"></i></span></button>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>