<div class="header navbar navbar-inverse " style="background-color: #1C1C1C;">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="header-seperation" style="width: 200px;background-color: #1C1C1C;">
            <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
                <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>
            </ul>
            <!-- BEGIN LOGO -->
            <a href="/"><img src="assets/img/logo.png" class="logo" alt=""  data-src="assets/img/logo.png" data-src-retina="assets/img/logo.png" width="180" height="50" style="margin: 5px 5px;"></a>
            <!-- END LOGO -->

        </div>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <div class="header-quick-nav" style="height: 0px;">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="pull-left">
                <ul class="nav quick-section" style="margin-left: 3px;margin-top: 2px;">
                    <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
                        <div id="idCondenseIcon"><img src="assets/img/madm_fav_ico.png" style="height: 48px;"></div>
                    </a> </li>
                </ul>
                <ul class="nav quick-section">
                    <form id="idHeaderSearchBar">
                    <li class="m-r-10 input-prepend inside search-form no-boarder">
                        <span class="add-on"> <span class="iconset top-search"></span></span>
                        <input id="idHeaderSearch" name="" type="text"  class="no-boarder " placeholder="Search Events" style="width:250px;">
                        <span class="hide" id="idHeaderSearchLoader" style="margin-left: 10px;color: white;"><i class="fa fa-spinner fa fa-2x fa-spin"></i></span>
                    </li>
                    </form>



                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
            <!-- BEGIN CHAT TOGGLER -->
            <div class="pull-right" >
                <ul class="nav quick-section " style="margin-top: 8px;color: white;">
                    <h4 style="color: white;"><span class="bold">Last updated on :</span> <span id="id_lst_upd_date"><span></span></span></h4>
                </ul>

                <ul class="nav quick-section " id="idChatCont">

                    <li class="quicklinks"> <span class="h-seperate"></span></li>
                    <li class="quicklinks"> <a id="chat-menu-toggle" href="#sidr" class="chat-menu-toggle" id="idChatToggler">
                        <i class="fa fa-filter fa fa-6x" style="color: white !important;"></i><span class="badge badge-important hide" id="chat-message-count" style="margin-left: 7px;">Filter Results</span>
                    </a>
                        <div class="simple-chat-popup chat-menu-toggle hide" >
                            <div class="simple-chat-popup-arrow"></div>

                        </div>
                    </li>
                </ul>

            </div>
            <!-- END CHAT TOGGLER -->
        </div>
        <!-- END TOP NAVIGATION MENU -->

    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>