<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>MOM | Global Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />


<link rel="shortcut icon" href="assets/img/madm_fav_ico.png" />

<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css"/>
<!-- END CORE CSS FRAMEWORK -->

<!-- BEGIN CSS TEMPLATE -->
<link href="assets/css/themes/simple/style.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/themes/simple/responsive.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/custom-icon-set.css" rel="stylesheet" type="text/css"/>
<!-- END CSS TEMPLATE -->
<link rel="stylesheet" href="assets/plugins/ammap/ammap.css" type="text/css">
<link rel="stylesheet" href="assets/plugins/ammap/plugins/export/export.css" type="text/css">
<script src="assets/plugins/ammap/ammap.js" type="text/javascript"></script>
<!-- map file should be included after ammap.js -->
<script src="assets/plugins/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="assets/plugins/ammap/themes/dark.js" type="text/javascript"></script>
<script src="assets/js/ammapbubble.js" type="text/javascript"></script>

<script src="assets/plugins/ammap/plugins/export/export.js" type="text/javascript"></script>

<script src="assets/plugins/amcharts/amcharts.js" type="text/javascript"></script>
<script src="assets/plugins/amcharts/pie.js" type="text/javascript"></script>
<script src="assets/plugins/amcharts/serial.js" type="text/javascript"></script>

<script type="text/javascript" src="assets/plugins/vis/vis.js"></script>
<link type="text/css" rel="stylesheet" href="assets/plugins/vis/vis.css">
<style type="text/css">
    #mynetwork {
      width: 100%;
      height: 600px;
    }
  </style>
    <link href="assets/plugins/jquery-notifications/css/messenger.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="assets/plugins/jquery-notifications/css/messenger-theme-flat.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="assets/plugins/vis/datasources/mynet.js"></script>
<script>
   AmCharts.makeChart("chartdiv", {
        "type": "pie",
        "color":"black",
        "export": {
		    "enabled": true
		  },
        "dataProvider": [{
            "source": "Web",
                "n_mentions": 100456
        }, {
            "source": "Citatio only",
                "n_mentions": 99434
        }, {
            "source": "Core",
                "n_mentions": 26439
        }, {
            "source": "DTIC",
                "n_mentions": 18399
        }, {
            "source": "JSTOR",
                "n_mentions": 2346
        }, {
            "source": "Non Textual Source",
                "n_mentions": 93763
        }],
        "titleField": "source",
        "valueField": "n_mentions",
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
        "legend": {
            "align": "center",
            "markerType": "circle",
            "color":"black"
        }

    });
</script>

<script>

            // this chart is exactly the same as in areaStacked.html, only made using JSON except JavaScript API

            var trendchartData = [{
               "year": 2000,
                   "Web": 1587,
                   "citation_only": 650,
                   "core": 121,
                   "dtic": 1587,
                   "jstor": 650,
                   "non_textual_source": 121
           }, {
               "year": 1995,
                   "Web": 15845,
                   "citation_only": 6503,
                   "core": 1212,
                   "dtic": 1523,
                   "jstor": 124,
                   "non_textual_source": 4244
           }, {
               "year": 1996,
                   "Web": 1587234,
                   "citation_only": 6512340,
                   "core": 122131,
                   "dtic": 1581347,
                   "jstor": 651340,
                   "non_textual_source": 11421
           }, {
               "year": 1997,
                   "Web": 1241587,
                   "citation_only": 324650,
                   "core": 113421,
                   "dtic": 41671587,
                   "jstor": 65450,
                   "non_textual_source": 135621
           }, {
               "year": 1998,
                   "Web": 338087,
                   "citation_only": 655850,
                   "core": 18158158,
                   "dtic": 15711,
                   "jstor": 540,
                   "non_textual_source": 121
           }, {
               "year": 1999,
                   "Web": 15187,
                   "citation_only": 5650,
                   "core": 7121,
                   "dtic": 51587,
                   "jstor": 7650,
                   "non_textual_source": 8121
           }, {
               "year": 2000,
                   "Web": 221587,
                   "citation_only": 257650,
                   "core": 257121,
                   "dtic": 172587,
                   "jstor": 824650,
                   "non_textual_source": 82581
           }, {
               "year": 2001,
                   "Web": 542257787,
                   "citation_only": 2575270,
                   "core": 427572,
                   "dtic": 427527,
                   "jstor": 245757,
                   "non_textual_source": 1758983
           }, {
               "year": 2002,
                   "Web": 82571158,
                   "citation_only": 754455,
                   "core": 5465411,
                   "dtic": 6217872,
                   "jstor": 547517,
                   "non_textual_source": 157541
           }, {
               "year": 2003,
                   "Web": 15717715,
                   "citation_only": 14756157,
                   "core": 1571571,
                   "dtic": 1575177,
                   "jstor": 14717,
                   "non_textual_source": 754171
           }, {
               "year": 2004,
                   "Web": 1587256,
                   "citation_only": 246550,
                   "core": 14614,
                   "dtic": 1346461,
                   "jstor": 6156145,
                   "non_textual_source": 423616
           }, {
               "year": 2005,
                   "Web": 1587325,
                   "citation_only": 6502353,
                   "core": 123421,
                   "dtic": 1583247,
                   "jstor": 653240,
                   "non_textual_source": 124321
           }, {
               "year": 2006,
                   "Web": 695679,
                   "citation_only": 65685,
                   "core": 26582581,
                   "dtic": 57637,
                   "jstor": 365838,
                   "non_textual_source": 468993
           }, {
               "year": 2007,
                   "Web": 879936,
                   "citation_only": 625888,
                   "core": 8562828,
                   "dtic": 86265,
                   "jstor": 86652,
                   "non_textual_source": 5896925
           }, {
               "year": 2008,
                   "Web": 88925712,
                   "citation_only": 47172,
                   "core": 14578815,
                   "dtic": 8181512,
                   "jstor": 27817171,
                   "non_textual_source": 27181828
           }, {
               "year": 2009,
                   "Web": 826582,
                   "citation_only": 825672,
                   "core": 8652257,
                   "dtic": 36827722,
                   "jstor": 2872527,
                   "non_textual_source": 86526256
           }, {
               "year": 2010,
                   "Web": 256272561,
                   "citation_only": 275625,
                   "core": 2587625,
                   "dtic": 7256576,
                   "jstor": 1756512,
                   "non_textual_source": 2561456
           }, {
               "year": 2011,
                   "Web": 25745771,
                   "citation_only": 257257,
                   "core": 2757171,
                   "dtic": 2571571,
                   "jstor": 527215,
                   "non_textual_source": 26586826
           }, {
               "year": 2012,
                   "Web": 725725,
                   "citation_only": 257772,
                   "core": 257727,
                   "dtic": 25725,
                   "jstor": 57517272,
                   "non_textual_source": 121
           }];

           AmCharts.makeChart("trendchartdiv", {
               type: "serial",
               color:"black",
               export: {
			    	"enabled": true
			   },
               dataProvider: trendchartData,
               marginTop: 10,
               categoryField: "year",
               categoryAxis: {
                   gridAlpha: 0.07,
                   axisColor: "#DADADA",
                   startOnAxis: true,
                   guides: []
               },
               valueAxes: [{
                   stackType: "regular",
                   gridAlpha: 0.07,
                   title: "Articles from different channels"
               }],

               graphs: [{
                   type: "line",
                   title: "Web",
                   valueField: "Web",
                   lineAlpha: 0,
                   fillAlphas: 0.6,
                   balloonText: "<span style='font-size:14px; color:#F05D5E;'>Web <b>[[value]]</b></span>"
               }, {
                   type: "line",
                  title: "Citation Only",
                   valueField: "citation_only",
                   lineAlpha: 0,
                   fillAlphas: 0.6,
                   balloonText: "<span style='font-size:14px; color:#0F7173;'>Citation Only <b>[[value]]</b></span>"
               }, {
                   type: "line",
                   title: "Core",
                   valueField: "core",
                   lineAlpha: 0,
                   fillAlphas: 0.6,
                   balloonText: "<span style='font-size:14px; color:#0000;'>Core <b>[[value]]</b></span>"
               }, {
                   type: "line",
                   title: "DTIC",
                   valueField: "dtic",
                   lineAlpha: 0,
                   fillAlphas: 0.6,
                   balloonText: "<span style='font-size:14px; color:#272932;'>DTIC <b>[[value]]</b></span>"
               }, {
                   type: "line",
                   title: "JSTOR",
                   valueField: "jstor",
                   lineAlpha: 0,
                   fillAlphas: 0.6,
                   balloonText: "<span style='font-size:14px; color:#D8A47F;'>JSTOR <b>[[value]]</b></span>"
               }, {
                   type: "line",
                   title: "Non Textual Sources",
                   valueField: "non_textual_source",
                   lineAlpha: 0,
                   fillAlphas: 0.6,
                   balloonText: "<span style='font-size:14px; color:#72E1D1;'>Non Textual Sources <b>[[value]]</b></span>"
               }],
               legend: {
                   position: "bottom",
                   color:"black",
                   valueText: "[[value]]",
                   valueWidth: 100,
                   valueAlign: "left",
                   equalWidths: false,
                   periodValueText: "total: [[value.sum]]"
               },
               chartCursor: {
                   cursorAlpha: 0
               },
               chartScrollbar: {
                   color: "FFFFFF"
               }

           });

        </script>
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
	<div class="header-seperation"> 
		<ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">	
		 <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>		 
		</ul>
      <!-- BEGIN LOGO -->	
      <a href="index.html"><img src="assets/img/logo_dark_footer.png" class="logo" alt=""  data-src="assets/img/logo_dark_footer.png" data-src-retina="assets/img/logo_dark_footer.png" width="180" height="50"/ style="margin: 5px 5px;"></a>
      <!-- END LOGO --> 
      
      </div>
      <!-- END RESPONSIVE MENU TOGGLER --> 
      <div class="header-quick-nav" > 
      <!-- BEGIN TOP NAVIGATION MENU -->
	  <div class="pull-left"> 
        <ul class="nav quick-section">
          <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
            <div class="iconset top-menu-toggle-dark"></div>
            </a> </li>
        </ul>
        <ul class="nav quick-section">
			<li class="m-r-10 input-prepend inside search-form no-boarder">
				<span class="add-on"> <span class="iconset top-search"></span></span>
				 <input name="" type="text"  class="no-boarder " placeholder="Search Dashboard" style="width:250px;">
			</li>
		  </ul>
	  </div>
	 <!-- END TOP NAVIGATION MENU -->
	 <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right">
          <ul class="nav quick-section ">
            <h4><span class="bold">Last updated on:</span> 12th October 2016, 13:45</h4>
          </ul>
		 <ul class="nav quick-section ">
			<li class="quicklinks"> 
				<a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">						
					<div class="iconset top-settings-dark "></div> 	
				</a>
				<ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                  <li><a href="#"> Crawler Settings</a>
                  </li>
                  <li><a href="#"> Documentation</a>
                  </li>
                  <li><a href="#"> Data Status Check</a>
                  </li>
                  <li class="divider"></li>                
                  <li><a href="#"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
               </ul>
			</li>
		</ul>

      </div>
	   <!-- END CHAT TOGGLER -->
      </div> 
      <!-- END TOP NAVIGATION MENU --> 
   
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar" id="main-menu"> 
  <!-- BEGIN MINI-PROFILE -->
   <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper"> 
   
  <!-- END MINI-PROFILE -->
   
   <!-- BEGIN SIDEBAR MENU -->	
    <ul>	
      <li class="start active " style="padding-top: 10px;"> <a href="#"> <i class="fa fa-home"></i> <span class="title">Global Dashboard</span> <span class="selected"></span></a> </li>  
      <li class="" > <a href="#"> <i class="fa fa-flag"></i> <span class="title">Event Dashboard</span> <span class="selected"></span></a> </li> 
      <li class=""> <a href="#"> <i class="fa fa-map-marker"></i> <span class="title">Geo Dashboard</span> <span class="selected"></span></a> </li> 
       
	  <li class=""> <a href="#"> <i class="fa fa-bolt"></i>  <span class="title">Events</span></a></li>      
	  <li class=""> <a href="#"> <i class="fa fa-globe"></i>  <span class="title">Globe</span></a></li>     
	  <li class=""> <a href="#"> <i class="fa fa-clock-o"></i>  <span class="title">Timeline</span></a></li>   
       
    </ul>
    <!-- END SIDEBAR MENU --> 
  </div>
  </div>
  <a href="#" class="scrollup">Scroll</a>
  
  <!-- END SIDEBAR --> 
  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content"> 
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="content" style="background-color: white;"> 
      	<div class="row" >
            <div class="col-md-12">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h1>Impact of events <span class="semi-bold">on the World</span></h1>
                        <div class="tools"> <a href="javascript:;" class="collapse"></a>  <a href="javascript:;" class="reload"></a> </div>
                        <span>The size of the bubbles reflects the amount of impact and the colour of the bubble shows how positive (Green) or negative (Red) the imapct is.</span>
                    </div>
                    <div class="grid-body no-border">
                        <div class="row">
      		                <div id="mapdiv" style="width: 100%; height: 600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
      	</div>
      	</div>
      	<div class="content" style="padding-top: 20px;">
      		<div class="row">	 
		<div class="col-md-4 col-vlg-3 col-sm-6">
			<div class="tiles green m-b-10">
              <div class="tiles-body">
			  <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                <div class="tiles-title text-black">OVERALL EVENTS </div>
			         <div class="widget-stats">
                      <div class="wrapper transparent"> 
						<span class="item-title">Total Events</span> <span class="item-count animate-number semi-bold" data-value="2415" data-animation-duration="700">0</span>
					  </div>
                    </div>
                    <div class="widget-stats">
                      <div class="wrapper transparent">
						<span class="item-title">Today</span> <span class="item-count animate-number semi-bold" data-value="751" data-animation-duration="700">0</span> 
					  </div>
                    </div>
                    <div class="widget-stats ">
                      <div class="wrapper last"> 
						<span class="item-title">This Month</span> <span class="item-count animate-number semi-bold" data-value="1547" data-animation-duration="700">0</span> 
					 </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                      <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="10.0%" ></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">10% higher <span class="blend">than last month</span><button type="button" class="btn btn-white btn-xs btn-mini" style="margin-left: 20px;">View All</button></span></div>
			  </div>			
			</div>	
	

		</div>
		<div class="col-md-4 col-vlg-3 col-sm-6">
			<div class="tiles blue m-b-10">
              <div class="tiles-body">
			  <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                <div class="tiles-title text-black">OVERALL MENTIONS </div>
			         <div class="widget-stats">
                      <div class="wrapper transparent"> 
						<span class="item-title">Total Mentions</span> <span class="item-count animate-number semi-bold" data-value="15489" data-     animation-duration="700">0</span>
					  </div>
                    </div>
                    <div class="widget-stats">
                      <div class="wrapper transparent">
						<span class="item-title">Today</span> <span class="item-count animate-number semi-bold" data-value="551" data-animation-duration="700">0</span> 
					  </div>
                    </div>
                    <div class="widget-stats ">
                      <div class="wrapper last"> 
						<span class="item-title">This Month</span> <span class="item-count animate-number semi-bold" data-value="1450" data-animation-duration="700">0</span> 
					 </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                      <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="30%" ></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">30% higher <span class="blend">than last month</span><button type="button" class="btn btn-white btn-xs btn-mini" style="margin-left: 20px;">View All</button></span></div>
			  </div>			
			</div>	
		</div>
		<div class="col-md-4 col-vlg-3 col-sm-6">
			<div class="tiles purple m-b-10">
              <div class="tiles-body">
			  <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                <div class="tiles-title text-black">INVOLVED COUNTRIES </div>
			         <div class="widget-stats">
                      <div class="wrapper transparent"> 
						<span class="item-title">Total</span> <span class="item-count animate-number semi-bold" data-value="5695" data-animation-duration="700">0</span>
					  </div>
                    </div>
                    <div class="widget-stats">
                      <div class="wrapper transparent">
						<span class="item-title">Today</span> <span class="item-count animate-number semi-bold" data-value="568" data-animation-duration="700">0</span> 
					  </div>
                    </div>
                    <div class="widget-stats ">
                      <div class="wrapper last"> 
						<span class="item-title">This Month</span> <span class="item-count animate-number semi-bold" data-value="12459" data-animation-duration="700">0</span> 
					 </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                      <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="50%" ></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">50% higher <span class="blend">than last month</span><button type="button" class="btn btn-white btn-xs btn-mini" style="margin-left: 20px;">View All</button></span></div>
			  </div>			
			</div>	
		</div>	
				
	 </div>
      	</div>
		<div class="row">
        <div class="col-md-12">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>Linked <span class="semi-bold">Countries by Events</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a>  <a href="javascript:;" class="reload"></a> </div>
            </div>
            <div class="grid-body no-border">
              <div class="row">
                <div id="mapdiv2" style="width: 100%; background-color:#eeeeee; height: 500px;"></div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="grid simple ">
            <div class="grid-title no-border">
              <h4>Top Insights - <span class="semi-bold">Regions</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a>  <a href="javascript:;" class="reload"></a>  </div>
            </div>
            <div class="grid-body no-border">
              <div class="row">
                <div class="col-md-12 col-vlg-6 m-b-10 ">
            <div class="tiles white">
              <div class="row">
                
                <h3>Top 10 <span class="semi-bold">High Impact</span> Regions</h3>
                    <p style="margin-right: 20px;">This is a list of top 10 high impact regions (both positive and negative) in the selected duration</p>
                    <br>
                <div class="clearfix"></div>
              </div>
              <table class="table no-more-tables m-t-20 m-l-20 m-b-30" style="margin-left: 0px;margin-top: 0px;">
                <thead >
                  <tr>
                    <th style="width:9%">GEO Code</th>
                    <th style="width:22%">Location</th>
                    <th style="width:6%">Impact</th>
                    <th style="width:1%"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="v-align-middle bold text-success">WSB</td>
                    <td class="v-align-middle"><span class="muted">West Bank</span> </td>
                    <td><span class="muted bold text-success">8.54</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">BAG</td>
                    <td class="v-align-middle"><span class="muted">Baghdad</span> </td>
                    <td><span class="muted bold text-error">-7.32</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">GZS</td>
                    <td class="v-align-middle"><span class="muted">Gaza Strip</span> </td>
                    <td><span class="muted bold text-success">8.36</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">AFR</td>
                    <td class="v-align-middle"><span class="muted">Africa</span> </td>
                    <td><span class="muted bold text-error">-8.16</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">ASA</td>
                    <td class="v-align-middle"><span class="muted">Asia</span> </td>
                    <td><span class="muted bold text-success">6.92</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">BLK</td>
                    <td class="v-align-middle"><span class="muted">Balkans</span> </td>
                    <td><span class="muted bold text-success">7.36</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">CRB</td>
                    <td class="v-align-middle"><span class="muted">Caribbean</span> </td>
                    <td><span class="muted bold text-success">9.36</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">CAU</td>
                    <td class="v-align-middle"><span class="muted">Caucasus</span> </td>
                    <td><span class="muted bold text-error">-5.36</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">CFR</td>
                    <td class="v-align-middle"><span class="muted">Central Africa</span> </td>
                    <td><span class="muted bold text-success">6.87</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">CAS</td>
                    <td class="v-align-middle"><span class="muted">Central Asia</span> </td>
                    <td><span class="muted bold text-error">6.36</span> </td>
                    <td class="v-align-middle"></td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-primary btn-sm btn-small">15 minutes</button>
              <button type="button" class="btn btn-primary btn-sm btn-small">Today</button>
              <button type="button" class="btn btn-primary btn-sm btn-small">Month</button>
              <button type="button" class="btn btn-primary btn-sm btn-small">View All</button>
            </div>
        </div>
               
                
              </div>

              <div class="row">
                <div class="col-md-12 col-vlg-6 m-b-10 " style="margin-top: 10px;">
            <div class="tiles white">
              <div class="row">
                
                <h3><span class="semi-bold">Articles mentioned</span> per category</h3>
                    <p style="margin-right: 20px;">Distribution of articles mentioned in different source categories as mentioned <span class="semi-bold">since 2011.</span></p>

                    <br>
                <div class="clearfix"></div>
              </div>
               <div id="chartdiv" style="width: 100%; height: 400px;" class="text-success"></div>
            </div>
        </div>
               
                
              </div>
            </div>
          </div>
        </div>

         <div class="col-md-6">
          <div class="grid simple ">
            <div class="grid-title no-border">
              <h4>Top Insights - <span class="semi-bold">Events</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a>  <a href="javascript:;" class="reload"></a>  </div>
            </div>
            <div class="grid-body no-border">
              <div class="row">
              
               <div class="col-md-12">
                  <div class="tiles white">
              <div class="row">
                
                <h3>Top 10 <span class="semi-bold">Important Events</span> </h3>
                    <p style="margin-right: 20px;">This is a list of top 10 important events in the selected duration.</p>
                    <br>
                <div class="clearfix"></div>
              </div>
              <table class="table no-more-tables m-t-20 m-l-20 m-b-30" style="margin-left: 0px;margin-top: 0px;">
                <thead >
                  <tr>
                    <th style="width:9%">Event Type</th>
                    <th style="width:5%">Actor1</th>
                    <th style="width:10%">Actor1 Geo</th>
                    <th style="width:6%">Actor2</th>
                    <th style="width:15%">Actor2 Geo</th>
                    <th style="width:1%">Importance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="v-align-middle bold text-success">MAKE PUBLIC STATEMENT</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Police forces</span> </td>
                    <td><span class="bold text-info">Baghdad</span> </td>
                    <td class="v-align-middle"><span class="bold">Judiciary</span> </td>
                    <td><span class="bold">Central Africa</span> </td>
                    <td class="v-align-middle bold text-success">9.05</td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">Appeal for judicial cooperation</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Political Opposition</span> </td>
                    <td><span class="bold text-info">Eastern Africa</span> </td>
                    <td class="v-align-middle"><span class="bold">Human Rights</span> </td>
                    <td><span class="bold">North Africa</span> </td>
                    <td class="v-align-middle bold text-success">8.75</td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">Appeal to others to engage in or accept mediation</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Radical</span> </td>
                    <td><span class="bold text-info">Middle East</span> </td>
                    <td class="v-align-middle"><span class="bold">Unidentified State Actor</span> </td>
                    <td><span class="bold">Middle East</span> </td>
                    <td class="v-align-middle bold text-success">8.22</td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">MAKE PUBLIC STATEMENT</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Police forces</span> </td>
                    <td><span class="bold text-info">Baghdad</span> </td>
                    <td class="v-align-middle"><span class="bold">Judiciary</span> </td>
                    <td><span class="bold">Central Africa</span> </td>
                    <td class="v-align-middle bold text-success">9.05</td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">Appeal for judicial cooperation</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Political Opposition</span> </td>
                    <td><span class="bold text-info">Eastern Africa</span> </td>
                    <td class="v-align-middle"><span class="bold">Human Rights</span> </td>
                    <td><span class="bold">North Africa</span> </td>
                    <td class="v-align-middle bold text-success">8.75</td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">Appeal to others to engage in or accept mediation</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Radical</span> </td>
                    <td><span class="bold text-info">Middle East</span> </td>
                    <td class="v-align-middle"><span class="bold">Unidentified State Actor</span> </td>
                    <td><span class="bold">Middle East</span> </td>
                    <td class="v-align-middle bold text-success">8.22</td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">MAKE PUBLIC STATEMENT</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Police forces</span> </td>
                    <td><span class="bold text-info">Baghdad</span> </td>
                    <td class="v-align-middle"><span class="bold">Judiciary</span> </td>
                    <td><span class="bold">Central Africa</span> </td>
                    <td class="v-align-middle bold text-success">9.05</td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">Appeal for judicial cooperation</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Political Opposition</span> </td>
                    <td><span class="bold text-info">Eastern Africa</span> </td>
                    <td class="v-align-middle"><span class="bold">Human Rights</span> </td>
                    <td><span class="bold">North Africa</span> </td>
                    <td class="v-align-middle bold text-success">8.75</td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">Appeal to others to engage in or accept mediation</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Radical</span> </td>
                    <td><span class="bold text-info">Middle East</span> </td>
                    <td class="v-align-middle"><span class="bold">Unidentified State Actor</span> </td>
                    <td><span class="bold">Middle East</span> </td>
                    <td class="v-align-middle bold text-success">8.22</td>
                  </tr>
                  <tr>
                    <td class="v-align-middle bold text-success">Appeal to others to engage in or accept mediation</td>
                    <td class="v-align-middle"><span class="muted bold text-info">Radical</span> </td>
                    <td><span class="bold text-info">Middle East</span> </td>
                    <td class="v-align-middle"><span class="bold">Unidentified State Actor</span> </td>
                    <td><span class="bold">Middle East</span> </td>
                    <td class="v-align-middle bold text-success">8.22</td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-primary btn-sm btn-small">15 minutes</button>
              <button type="button" class="btn btn-primary btn-sm btn-small">Today</button>
              <button type="button" class="btn btn-primary btn-sm btn-small">Month</button>
              <button type="button" class="btn btn-primary btn-sm btn-small">View All</button>
            </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

	<div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                	<h4>Mentions <span class="semi-bold"></span></h4>
                                <div class="tools">	<a href="javascript:;" class="collapse"></a>
									<a href="javascript:;" class="reload"></a>
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                   <h3>Trend  <span class="semi-bold">on a Timeline</span></h3>
                                    <p>The trend of how much global events are being mentioned in articles from different sources.
									</p>
                                    <br>
                                    	<div id="trendchartdiv" style="width:100%; height:400px;"></div>
                                    <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">					
                <div class="row">
                    <div class="col-md-12">
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                	<h4><span class="semi-bold">Actors</span></h4>
                                <div class="tools">	<a href="javascript:;" class="collapse"></a>
									<a href="javascript:;" class="reload"></a>
                                </div>
                            </div>
                            <div class="grid-body no-border">
									 <h3><span class="semi-bold">Network</span> of Actors</h3>
									 <p>
									 This is a network of actors (Influential people or group mentioned or involved in articles or events) from different countries. This network shows connections of between country and inter country actors.
									 </p>
									 <br>
									 <div id="mynetwork"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
  </div>

 </div>
<!-- END CONTAINER --> 
<!-- BEGIN CORE JS FRAMEWORK--> 
<script src="assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script> 
<script src="assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> 
<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="assets/plugins/breakpoints.js" type="text/javascript"></script> 
<script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script> 
<script src="assets/plugins/jquery-block-ui/jqueryblockui.js" type="text/javascript"></script> 
<!-- END CORE JS FRAMEWORK --> 
<!-- BEGIN PAGE LEVEL JS --> 	
<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>
<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>  
<script src="assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-notifications/js/messenger.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-notifications/js/messenger-theme-future.js" type="text/javascript"></script>



<script type="text/javascript" src="assets/plugins/jquery-notifications/js/demo/demo.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN CORE TEMPLATE JS --> 
<script src="assets/js/core.js" type="text/javascript"></script> 
<script src="assets/js/chat.js" type="text/javascript"></script> 
<script src="assets/js/demo.js" type="text/javascript"></script> 
<script>
if ($('#main-menu').hasClass('mini')) {
    $('body').removeClass('grey');
    $('body').removeClass('condense-menu');
    $('#main-menu').removeClass('mini');
    $('.page-content').removeClass('condensed');
    $('.scrollup').removeClass('to-edge');
    $('.header-seperation').show();
    //Bug fix - In high resolution screen it leaves a white margin
    $('.header-seperation').css('height', '61px');
    $('.footer-widget').show();
} else {
    $('body').addClass('grey');
    $('#main-menu').addClass('mini');
    $('.page-content').addClass('condensed');
    $('.scrollup').addClass('to-edge');
    $('.header-seperation').hide();
    $('.footer-widget').hide();
    $('.main-menu-wrapper').scrollbar('destroy');
}
</script>
<script type="text/javascript">

  var network;
  var allNodes;
  var highlightActive = false;

  var nodesDataset = Object(mynet.nodes); // these come from WorldCup2014.js
  var edgesDataset = mynet.edges; // these come from WorldCup2014.js

  function redrawAll() {


    var container = document.getElementById('mynetwork');
      var data = {
          nodes: mynet.nodes,
          edges: mynet.edges
      };
    var options = {
      nodes: {
        shape: 'dot',
        scaling: {
          min: 10,
          max: 30,
          label: {
            min: 8,
            max: 30,
            drawThreshold: 12,
            maxVisible: 20
          }
        },
        font: {
          size: 12,
          face: 'Tahoma'
        }
      },
      edges: {
        width: 0.5,
        color: {inherit: 'from'},
        smooth: {
            "type": "continuous",
            "forceDirection": "none",
            "roundness": 0.35
        }
      },
        physics: {
            stabilization: false,
            "forceAtlas2Based": {
                "gravitationalConstant": -232,
                "centralGravity": 0.03,
                "springLength": 100,
                "avoidOverlap": 0.58
            },
            "maxVelocity": 46,
            "minVelocity": 0.67,
            "solver": "forceAtlas2Based",
            "timestep": 0.46
        },
      interaction: {
        tooltipDelay: 200,
        hideEdgesOnDrag: false
      }
    };
    //var data = {nodes:nodesDataset, edges:edgesDataset} // Note: data is coming from ./datasources/WorldCup2014.js


    network = new vis.Network(container, data, options);

    // get a JSON object
    allNodes = Object(nodesDataset);

    network.on("click",neighbourhoodHighlight);
  }

  function neighbourhoodHighlight(params) {
      // if something is selected:
      if (params.nodes.length > 0) {
          highlightActive = true;
          var i,j;
          var selectedNode = params.nodes[0];
          var degrees = 2;

          // mark all nodes as hard to read.
          for (var nodeId in allNodes) {
              allNodes[nodeId].color = 'rgba(200,200,200,0.5)';
              if (allNodes[nodeId].hiddenLabel === undefined) {
                  allNodes[nodeId].hiddenLabel = allNodes[nodeId].label;
                  allNodes[nodeId].label = undefined;
              }
          }
          var connectedNodes = network.getConnectedNodes(selectedNode);
          var allConnectedNodes = [];

          // get the second degree nodes
          for (i = 1; i < degrees; i++) {
              for (j = 0; j < connectedNodes.length; j++) {
                  allConnectedNodes = allConnectedNodes.concat(network.getConnectedNodes(connectedNodes[j]));
              }
          }

          // all second degree nodes get a different color and their label back
          for (i = 0; i < allConnectedNodes.length; i++) {
              allNodes[allConnectedNodes[i]].color = 'rgba(150,150,150,0.75)';
              if (allNodes[allConnectedNodes[i]].hiddenLabel !== undefined) {
                  allNodes[allConnectedNodes[i]].label = allNodes[allConnectedNodes[i]].hiddenLabel;
                  allNodes[allConnectedNodes[i]].hiddenLabel = undefined;
              }
          }

          // all first degree nodes get their own color and their label back
          for (i = 0; i < connectedNodes.length; i++) {
              allNodes[connectedNodes[i]].color = undefined;
              if (allNodes[connectedNodes[i]].hiddenLabel !== undefined) {
                  allNodes[connectedNodes[i]].label = allNodes[connectedNodes[i]].hiddenLabel;
                  allNodes[connectedNodes[i]].hiddenLabel = undefined;
              }
          }

          // the main node gets its own color and its label back.
          allNodes[selectedNode].color = undefined;
          if (allNodes[selectedNode].hiddenLabel !== undefined) {
              allNodes[selectedNode].label = allNodes[selectedNode].hiddenLabel;
              allNodes[selectedNode].hiddenLabel = undefined;
          }
      }
      else if (highlightActive === true) {
          // reset all nodes
          for (var nodeId in allNodes) {
              allNodes[nodeId].color = undefined;
              if (allNodes[nodeId].hiddenLabel !== undefined) {
                  allNodes[nodeId].label = allNodes[nodeId].hiddenLabel;
                  allNodes[nodeId].hiddenLabel = undefined;
              }
          }
          highlightActive = false
      }

      // transform the object into an array
      var updateArray = [];
      for (nodeId in allNodes) {
          if (allNodes.hasOwnProperty(nodeId)) {
              updateArray.push(allNodes[nodeId]);
          }
      }
      nodesDataset.update(updateArray);
  }
  redrawAll()

</script>
<!-- END CORE TEMPLATE JS -->
</body>
</html>