<div class="page-sidebar" id="main-menu">
    <!-- BEGIN MINI-PROFILE -->
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">

        <!-- END MINI-PROFILE -->

        <!-- BEGIN SIDEBAR MENU -->
        <ul>
            <li class="start" style="padding-top: 10px;"> <a href="/" id="idSbHome"> <i class="fa fa-home" style="color: white;"></i> <span class="title" style="color: white;">Home</span> <span class="selected"></span></a> </li>
            <li class="" > <a href="event" id="idSbEvent"> <i class="fa fa-flag" style="color: white;"></i> <span class="title" style="color: white;">Event</span> <span class="selected"></span></a> </li>

            <li class=""> <a href="/search" id="idSbSearch"> <i class="fa fa-search" style="color: white;"></i>  <span class="title" style="color: white;">Search</span></a></li>
            <li class="open"> <a href="javascript:;" id="idSbViz"> <i class="fa fa fa-adjust" style="color: white;"></i> <span class="title" style="color: white;">Visualizations</span> <span class="arrow open"></span> </a>

                <ul class="sub-menu" style="overflow: hidden; display: block;">
                    <li> <a href="impactMap" style="color: white;font-weight: 500;" id="idSbImpactMap"  class="bold">Impact Map</a> </li>
                    <li> <a href="actorNetwork" style="color: white;font-weight: 500;" id="idSbActGeoNet">Actor-Geo Network</a> </li>
                    <li> <a href="#" style="color: white;font-weight: 500;" id="idSbImpactHist">Impact Histograms</a> </li>
                </ul>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<div class="page-sidebar" id="main-menu">
    <!-- BEGIN MINI-PROFILE -->
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">

        <!-- END MINI-PROFILE -->

        <!-- BEGIN SIDEBAR MENU -->
        <ul>
            <li class="start" style="padding-top: 10px;"> <a href="/" id="idSbLongHome"> <i class="fa fa-home" style="color: white;"></i> <span class="title" style="color: white;">Home</span> <span class="selected"></span></a> </li>
            <li class="" > <a href="event" id="idSbLongEvent"> <i class="fa fa-flag" style="color: white;"></i> <span class="title" style="color: white;">Event</span> <span class="selected"></span></a> </li>

            <li class=""> <a href="/search" id="idSbLongSearch"> <i class="fa fa-search" style="color: white;"></i>  <span class="title" style="color: white;">Search</span></a></li>
            <li class="open"> <a href="javascript:;" id="idSbLongViz"> <i class="fa fa fa-adjust" style="color: white;"></i> <span class="title" style="color: white;">Visualizations</span> <span class="arrow open"></span> </a>

                <ul class="sub-menu" style="overflow: hidden; display: block;">
                    <li> <a href="impactMap" style="color: white;font-weight: 500;" id="idSbLongImpactMapViz">Impact Map</a> </li>
                    <li> <a href="actorNetwork" style="color: white;font-weight: 500;" id="idSbLongActGeoNet">Actor-Geo Network</a> </li>
                    <li> <a href="#" style="color: white;font-weight: 500;">Impact Histograms</a> </li>
                </ul>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>